/* Write your code here. */
.app-Container {
  background-image: linear-gradient(#1d976c, #93f9b9);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
.letters-container {
  background-color: white;
  color: #219a6f;
  height: 60px;
  width: 120px;
  text-align: center;
}
